<!-- 
    Hayden Coble
    00101613
    hcoble@my.athens.edu   
-->

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Hayden's Home Page</title>
        <link rel = "icon" type = "image/x-icon" href = "images/logo.png">
        <meta charset="utf-8">
    </head>

    <body>
        <header>
            <h1>Welcome to Hayden's Page</h1>
        </header>
        <nav>
            <p>
                &nbsp; <a href="CobleHome.html#Home">Home</a> &nbsp; &#9475; &nbsp;
                <a href="CobleHome.html#Skills">Skills</a> &nbsp; &#9475; &nbsp;
                <a href="CobleHome1.html">Interests</a> &nbsp; &#9475; &nbsp;
                <a href="CobleHome.html#Contact">Contact</a> &nbsp; &#9475; &nbsp;
                <a href = "CobleHome2.html">Make An Appointment</a> &nbsp;
            </p>
        </nav>
        <main>
            <hr>
            <div id="Home">
                <h2>Home</h2>
                <p>
                    Hayden Coble is a CS student at Athens State University expecting to graduate Fall 2024. He is also a tutor in the 
                    <a href="https://www.athens.edu/resources/academic/mcns-learning-lab/" target="_blank">MCNS Learning Lab</a> on campus. 
                    His schedule can be found in the table below
                </p>
                <table border = "1">
                    <caption>Hayden's Tutoring Schedule</caption>
                    <tr>
                        <td>Monday</td>
                        <td>Tuesday</td>
                        <td>Wednesday</td>
                        <td>Thursday</td>
                        <td>Friday</td>
                    </tr>
                    <tr>
                        <td>5:00 - 9:00</td>
                        <td>5:00 - 9:00</td>
                        <td>Unavailable</td>
                        <td>10:00 - 2:00</td>
                        <td>10:00 - 2:00</td>
                    </tr>
                </table>
                <p>
                    During his time in school and on the internet in his own time,
                    Hayden has learned a number of things about programming. His first program was written in JavaScript in a high school programming class offered at the Limestone County Career
                    and Technical Center. In that class, he learned to build a website in HTML and even received a certification in HTML5 and CSS (although he is very rusty on it). 
                    He also made a videogame in that class: Solar Defense - Pilots From Pluto. The game was influenced by Galaga and Asteroids, and was made in Game Maker Studio.
                    He made this game with a partner from the class; he wrote most of the code and music while his partner made the art for the game. At the state level, the game won
                    first place in Video Game Design at the SkillsUSA Alabama conference.
                </p>

                <p>
                    Now, Hayden is most experienced with C++ programming but has recently started to strengthen his SQL and Python for a personal
                    project of his own. He has also had a bit of experience with many other languages for assignments
                    here and there, some older than his parents. Most recently, he's taking CS307 to relearn HTML and Web Development!
                </p>
            </div>

            <div id="Skills">
                <h2>Skills</h2>
                <ul>
                    <li>C++ Programming - Experienced</li>
                    <li>Python Programming - Intermediate</li>
                    <li>SQL Programming - Intermediate</li>
                    <li>C Programming - Novice</li>
                    <li>C# Programming - Novice</li>
                    <li>Unity Development - Novice</li>
                    <li>Linux</li>
                    <li>Advanced Topics in Mathematics</li>
                </ul>
            </div>

            <div id="Interests">
                <h2>Interests</h2>
                <p>
                    Hayden is very interested in technology and music, and of course, music technology.
                    If you'd like to know more, he encourages you to click the image below.
                </p>
                
                <a href="CobleHome1.html"><img src = "images/legostrat.jpg" alt = "Lego Stratocaster" width = "200" height="300"></a>
                
            </div>

            <div id = "Contact">
                <h2>Contact</h2>
                <p>
                    Hayden can be contacted by phone or discord, but he doesn't like to share that information
                    with everyone. It is best that you contact him via e-mail and earn his trust first. <br>
                    E-mail: <a href ="mailto:hcoble@my.athens.edu" target="_blank">hcoble@my.athens.edu</a> 
                </p>
            </div>
            <hr>
        </main>
        <footer>
            <a href = "https://www.linkedin.com/in/hayden-coble/" target="_blank">LinkedIn</a>
            <br>
            <a href ="mailto:hcoble@my.athens.edu" target="_blank">Email Hayden</a>
        </footer>
    </body>

</html>