<!-- 
    Hayden Coble
    00101613
    hcoble@my.athens.edu
    
    Interests Page
-->

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Hayden's Interests</title>
        <link rel = "icon" type = "image/x-icon" href = "images/logo.png">
        <meta charset="utf-8">
    </head>

    <body>
        <header>
            <h1>Hayden's Interests</h1>
        </header>
        <nav>
            <p>
                &nbsp; <a href="CobleHome.html#Home">Home</a> &nbsp; &#9475; &nbsp;
                <a href="CobleHome.html#Skills">Skills</a> &nbsp; &#9475; &nbsp;
                <a href="CobleHome1.html">Interests</a> &nbsp; &#9475; &nbsp;
                <a href="CobleHome.html#Contact">Contact</a> &nbsp; &#9475; &nbsp;
                <a href = "CobleHome2.html">Make An Appointment</a> &nbsp;
            </p>
        </nav>
        <main>
            <hr>
            <div id="Music">
                <h2>Music</h2>
                <p>
                    Hayden enjoys playing his guitar and pretending he can buy more. His prized posession is his Epiphone Les Paul Traditional Pro in Wine Red, and his "white whale" he's looking for is a limited run
                    Fender Telecaster made in Japan. He also enjoys working on his guitars as much as playing them.
                    His Stratocaster has Seymour Duncan pickups to suit his sonic preferences, and his Thunderbird bass has aftermarket Hipshot brand tuning machines. He's recently started the project of building 
                    another guitar custom to him with his partner Elizabeth. He will pick the parts that he prefers, and she will design the finish of the guitar. He's eager to have a new favorite. major musical
                    influences include Incubus, Foo Fighters, Daft Punk, deadmau5, and Gary Clark Jr. His music preference
                    is primarily rock music, but if he listens hard enough, he'll find a reason to like most genres.
                    From bluegrass to metal to hip-hop to house music, it's all in his playlist.
                    <br><br>
                    Below is a video for you to hear his guitars and a picture of both of them.
                </p>
            </div>
            <div id = "Video">
                <video width = "400" height="225" controls = "controls">
                    <source src = "videos/Check Yes Juliet x Everlong.mp4" type = "video/mp4">
                    <p>Your browser does not support the HTML5 video element.</p>
                </video>
                <br><br>
            </div>
            <div id = "LesPaul">
                <img src="images/lespaul.jpg" alt="Hayden's Les Paul Traditional Pro" width = "360" height = "640">
                <ul>
                    <li>Mahogany Body and Neck</li>
                    <li>Rosewood Fretboard</li>
                    <li>Wine Red Finish</li>
                            <li>Neck Position: Alnico Classic Pro</li>
                            <li>Bridge Position: ProBuckerIII</li>
                    <li>Scale Length: 24.75"</li>
                </ul>
            </div>

            <div id = "Strat">
                <img src = "images/strat.jpg" alt = "Hayden's Custom Squier Stratocaster" width ="360" height = "640">
                <ul>
                    <li>Basswood Body</li>
                    <li>Rosewood Fretboard</li>
                    <li>Maple Neck</li>
                            <li>Neck Position: Seymour Duncan JB Junior</li>
                            <li>Middle Position: Seymour Duncan JB Junior</li>
                            <li>Bridge Position: Seymour Duncan JB Model Humbucker</li>
                    <li>Scale Length: 25.5"</li>
                </ul>
            </div>

            <div id = "tech">
                <h2> Technology</h2>
                <p>
                    On the tech side of things, he's currently trying to find a good project to put his Raspberry Pi to use. There are so many options, he is overwhelmed with possibilities.
                    He likes learning how different electronics work and seeing people build new things out of old ones.
                    He hopes one day to join them as a maker; why buy things when you can do it all yourself? When he can, he wants to pickup woodworking as a hobby. Maybe then he can make that guitar completely his own!
                </p>
            </div>
            
            <hr>
        </main>
        <footer>
            <a href = "https://www.linkedin.com/in/hayden-coble/" target="_blank">LinkedIn</a>
            <br>
            <a href ="mailto:hcoble@my.athens.edu" target="_blank">Email Hayden</a>
        </footer>
    </body>

</html>